// .checkbox + p {
//   padding: 12px 15px;
//   border-radius: 15px;
//   color: black;
// }

.checkbox-option:hover + p {
  background: var(--active-primary);
  color: white;
  border-color: var(--active-primary);
}

.checkbox-indicatif + p {
  background: var(--active-primary);
}

.checkbox-indicatif:checked + p {
  color: var(--active-primary);
}

.checkbox-imperatif + p {
  background: var(--active-blue);
}

.checkbox-imperatif:checked + p {
  color: var(--active-blue);
}

.checkbox-subjonctif + p {
  background: var(--active-blue2);
}

.checkbox-subjonctif:checked + p {
  color: var(--active-blue2);
}

.checkbox-conditionnel + p {
  background: var(--active-green);
}

.checkbox-conditionnel:checked + p {
  color: var(--active-green);
}

.checkbox-participe + p {
  background: var(--active-secondary);
}

.checkbox-participe:checked + p {
  color: var(--active-secondary);
}

.checkbox-gerondif + p {
  background: var(--active-purple);
}

.checkbox-gerondif:checked + p {
  color: var(--active-purple);
}

.checkbox:checked + p {
  padding: 12px 25px;
  background: white;
}

.checkbox {
  display: none;
}

.checkbox + p {
  padding: 12px 15px;
  border-radius: 15px;
  transition: 0.2s;
  color: white;
}

.checkbox-option:checked + p {
  background: var(--primary-color);
  color: white;
  letter-spacing: 2px;
}

.checkbox + p {
  text-align: center;
}

.checkbox-option + p {
  margin-bottom: 8px;
  border: 1px var(--primary-color) solid;
  color: black;
}

.checkbox:checked:hover + p {
  padding: 12px 22px;
}
