.dropdown-button-visible {
  background: white;
  padding: 12px 15px;
  color: var(--primary-color);
  border-radius: 15px;
}

.dropdown-input {
  padding: 12px 5px 12px 15px;
  font-size: 18px;
  border: 1px solid var(--primary, #4b5ebf);
}

.dropdown-button:hover div {
  display: block;
}

.dropdown-arrow-active {
  transform: scale(-1);
}

.dropdown-arrow-option {
  transition: 0.2s;
  padding: 0 5px;
}
