.dropdown-hidden {
  background: rgb(255, 255, 255);
  position: absolute;
  padding: 10px;
  border-radius: 15px 8px;
}

.dropdown-hidden p {
  padding: 6px 10px;
  border-radius: 10px;
  transition: 0.1s;
}

.dropdown-hidden-first {
  padding: 0 0 15px;
}

.dropdown-hidden span {
  background: var(--primary-color);
  border-radius: 15px;
  padding: 2px 4px;
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

.dropdown-hidden {
  display: none;
}

.dropdown-hidden p:hover {
  background: var(--active-primary);
  color: white;
}
