.exercice {
  width: 798px;
  position: relative;
  top: 135px;
}

.exercice-inner {
  background: white;
  border-radius: 15px;
  padding: 25px;
}

.exercice-container {
  display: flex;
  justify-content: center;
}

.exercice-container:first-child {
  padding-bottom: 25px;
}

.exercice-container:nth-child(3) {
  padding-bottom: 20px;
}

.exercice-container:first-child {
  align-items: center;
  justify-content: space-between;
}

.exercice-question {
  text-align: center;
  padding-bottom: 30px;
}

.exercice-question p:first-child {
  padding-bottom: 10px;
}

.exercice-mode-container {
  justify-content: flex-end;
}

.exercice-mode-container,
.exercice-time-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.exercice-mode {
  text-align: right;
}

.exercice-mode p {
  padding-bottom: 5px;
}

.exercice-mode p,
.exercice-time p {
  padding-bottom: 5px;
}

.exercice-cross {
  height: 35px;
  width: 35px;
}

.exercice-cross-bar {
  background: var(--primary-color);
  height: 3px;
  width: 40px;
  position: relative;
  border-radius: 5px;
  transition: 0.15s;
}

.exercice-cross-bar:first-child {
  transform: rotateZ(45deg);
  top: 15px;
  left: -2px;
}
.exercice-cross-bar:last-child {
  transform: rotateZ(-45deg);
  top: 12px;
  left: -2px;
}

.exercice-cross:hover .exercice-cross-bar {
  height: 5px;
  background: var(--active-primary);
}

.exercice-cross:hover .exercice-cross-bar:last-child {
  top: 9px;
}

.exercice-cross:hover .exercice-cross-bar:first-child {
  top: 14px;
}
