.icone-trash {
  color: var(--secondary-color);
  transition: 0.2s;
}

.icone-search {
  padding-left: 10px;
  transition: 0.1s;
}

.icone-search:hover {
  color: white;
}

.mode-too-dark .icone-search:hover {
  color: black;
}

.icone-trash:hover {
  color: var(--active-secondary);
}
