/* ====================================
// css variables
// ==================================== */

:root {
  --primary-color: #4b5ebf;
  --blue: #649bed;
  --blue2: #71d0dd;
  --green: #a7dc50;
  --secondary-color: #ff77b8;
  --purple: #c561f4;
  --active-primary: #3b2d73;
  --active-blue: #3359bb;
  --active-blue2: #277ea3;
  --active-green: #31850a;
  --active-secondary: #ca3f59;
  --active-purple: #8818a4;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background: #3b2d73;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 11px 0 30px;
}

// .row + .row {
//   margin-top: 16px;
// }
// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: #ffeeb08e;
//   border: 1px solid #ffd737;
// }

/* ====================================
// base rules
// ==================================== */
