header {
  background: white;
  margin-bottom: 35px;
}

.l-header-inner {
  display: flex;
  gap: 10px;
  padding: 24px 0;
  align-items: baseline;
}

.l-precomposition {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.l-section {
  background: white;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 90px;
}

footer {
  background: white;
  padding: 53px 0;
  text-align: center;
}

.l-container {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.l-space {
  flex-grow: 1;
}
